
<h1>{{title}}</h1>

	<form method="POST" action ="/data">
<textarea cols="40" rows="28" name="song" id="textarea"></textarea><br>
		<button type="submit">SUBMIT</button>
		<br></br>
	</form>





<div class="head">
  
  <div class="lefteye"></div>
  <div class="righteye"></div>
  
  <div class="mouth"></div>
  
  <div class="leftear"></div>
  <div class="rightear"></div>
  
</div>